= form_for @donation do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :campaign
    = f.collection_select :campaign_id, Campaign.order(:name),:id,:name, include_blank: true
  .field
    = f.label :donor
    = f.collection_select :donor_id, Donor.order(:name),:id,:name, include_blank: true
  .actions
    = f.submit 'Save'
