%p#notice= notice

%h1
  = @campaign.name
%p
  %b Organization:
  / = @campaign.organization.name
%p
  %b Impact Unit:
  = @campaign.unit

%h2 Donations
= render '/donations/donations', donations: @campaign.donations


= link_to 'Edit', edit_campaign_path(@campaign)

= link_to 'Back', campaigns_path

- if @campaign.completed
  = button_to "Notify Donors", "#", :method => :get, :id => "notify", :class => "btn btn-success"
- else
  = button_to "Complete Campaign", "/complete_task#{@campaign.id}", :method => :get, :id => "complete", :class => "btn btn-warning"

